/* RESULTS NUMBER */

.results {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

/* ARTICLES */

.list-group {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 10px;
  min-width: 220px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.49);
  border-radius: 15px;
}

.img-ctn {
  text-align: center;
  height: 350px;
  overflow: hidden;
}

.card .container {
  width: 100%;
}

.card img {
  width: auto;
  border-radius: 15px;
  height: 100%;
}

.category,
.discount,
.all {
  text-align: center;
  margin-bottom: 40px;
}

.empty {
  text-align: center;
}
