body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

/* RESPONSIVE */

@media (max-width: 674px) {

  /* NAV */
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  /* ARTICLES */

  .list-group,
  .card {
    width: 100%;
  }

  .results {
    text-align: center;
  }

  /* DETAILS */

  .cart-ctn {
    flex-direction: column;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .details-img, .add-to-cart {
    width: 100%;
  }
}
