body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

/* RESPONSIVE */

@media (max-width: 1040px) {

  /* NAV */
  
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li a {
    margin: 0;
  }

  .logo-auth {
    margin-right: 0!important;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  /* ARTICLES */

  .list-group,
  .card {
    width: 100%;
  }

  .results {
    text-align: center;
  }

  /* DETAILS */

  .cart-ctn {
    flex-direction: column;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .details-img,
  .add-to-cart {
    width: 100%;
  }
}