body {
  background-color: #f6f1eb;
  font-family: "Montserrat", sans-serif;
}

.empty {
  text-align: center;
  color: red;
}

.width {
  width: 100%;
}

.remise {
  color: red;
  font-weight: bold;
}

.new-price {
  color: green;
  font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 1040px) {
  /* NAV */

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li a {
    margin: 0;
  }

  .logo-auth {
    margin-right: 0 !important;
  }

  .logo,
  .logo-auth {
    margin-left: 0 !important;
  }

  .dropdown-menu {
    width: 100%;
    text-align: center;
  }

  .dropdown button {
    margin-right: 0;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  footer h1 {
    margin-top: 20px;
  }

  /* ARTICLES */

  .list-group {
    width: 100%;
  }

  .card {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .results {
    text-align: center;
  }

  /* DETAILS */

  .cart-ctn {
    flex-direction: column;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .details-img,
  .add-to-cart {
    width: 100%;
  }
}
