/* NAV */

nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 5px;
  background-color: slategrey;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
}

nav ul li a {
  font-size: 20px;
  margin-right: 30px;
  color: white;
  outline: none;
  border: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

nav ul li .logo {
  color: #66eb9a;
  margin-left: 20px;
}

.logo-auth {
  margin: auto 0;
  margin-right: 30px;
  color: #66eb9a;
  font-size: 20px;
  margin-left: 20px;
}
