body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

/* NAV */

nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
}

nav ul li a {
  font-size: 20px;
  margin-right: 30px;
}

nav ul li .logo {
  color: #66eb9a;
}

/* RESULTS NUMBER */

.results {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

/* ARTICLES */

.list-group {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 10px;
  min-width: 220px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.img-ctn {
  text-align: center;
}

.card .container {
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.category,
.discount,
.all {
  text-align: center;
  margin-bottom: 40px;
}

.empty {
  text-align: center;
}

/* DETAILS */

.details-ctn {
  width: 80%;
  margin: 0 auto;
}

.cart-ctn {
  display: flex;
  justify-content: space-between;
}

.details-ctn form select {
  margin-bottom: 20px;
  width: 50px;
}

.details-img img {
  width: 80%;
}

.details-img button {
  display: block;
}

.description p {
  margin-top: 30px;
  font-size: 25px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* RESPONSIVE */

@media (max-width: 674px) {

  /* NAV */
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  /* ARTICLES */

  .list-group,
  .card {
    width: 100%;
  }

  .results {
    text-align: center;
  }

  /* DETAILS */

  .cart-ctn {
    flex-direction: column;
    text-align: center;
  }

  .description {
    text-align: center;
  }
}
