/* NAV */

nav {
  border: solid black 1px;
  width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
}

nav ul li a {
  font-size: 20px;
  margin-right: 30px;
}

nav ul li .logo {
  color: #66eb9a;
}

/* RESULTS NUMBER */

.results {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

/* ARTICLES */

.list-group {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    
}

.card {
    width: 30%;
    min-width: 220px;
    border: solid black 1px;
    margin-bottom: 20px;
}

.card .container {
  width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    border: solid black 1px;
    margin-bottom: 30px;
    padding: 20px;
}
